body {
    min-height: 100vh;
    background-color: #d8b236;
    /* min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    color: #373A39; */
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.container__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('./../images/BgImage.jpg');
    height: 100vh;
    max-width: 1920px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container__inner__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: 30%;

    background: linear-gradient(180deg, #01353E 10%, transparent 100%);
}

.container__inner__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 70%;

}

.header__logo__link {
    display: block;
    margin-top: 35px;

}

.navigation {
    margin-top: 50px;
}

.menu {
    display: flex;
}

.menu__item {
    color: #fff;
    margin-right: 45px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.13px;
    letter-spacing: 0.6px;
    position: relative;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.menu__item:hover {
    border-bottom: 2px solid #00B2A0;
}

.header__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 200px;
    line-height: 234.8px;
    letter-spacing: 0.6px;
    color: #0D302C;
}

.header__subtitle {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.13px;
    letter-spacing: 0.6px;
    color: #000000;
    margin-bottom: 280px;
}

.header__icon {
    margin-bottom: 52px;
}


.about {
    min-height: 100vh;
    background-color: #fff;
}

.title__wrapper {
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
}

.title__wrapper img {
    position: relative;
    top: 20px;
}

.title {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 56.35px;
    letter-spacing: 0.6px;
    color: #01353E;
    padding-top: 190px;
    text-align: center;
    position: relative;
    align-self: flex-start;
}

.about__text_block {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about__text_block__part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__text_block__part_item {
    width: 480px;
    height: 90px;
    margin-top: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
}

.school {
    width: 100%;
    min-height: 100vh;
    background-color: #F8F8F8;
}

.school__inner_info {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 100px;
    position: relative;
}

.school__inner_info__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 350px;
}

.school__inner_info__title {
    max-width: 160px;
    min-height: 55px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.6px;
    margin-bottom: 20px;
    text-align: center;
}

.school__inner_info__item p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.6px;
}

.title_and_img{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.school__inner_stats{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.school__inner_stats__waves{
    height: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.long__waves{
    margin-top: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.long__waves__wave{
    display: flex;
    align-items: center;
    justify-content: center;
}
.long__waves__wave p{
    margin-left: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.6px;
}
.school__inner_stats__text{
    max-width: 600px;
}
.school__inner_stats__text--text{
    margin-top: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.6px;
}
.rise__top{
    width: 100%;
    min-height: 100vh;
    background-color: #FFF;
    background-image: url('./../images/riseSerfer.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right 0%;
}
.rise__top__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.rise__top__wrapper__info{
    margin-right: auto;
    padding-left: 300px;
}
.rise__top__wrapper__info__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.rise__top__wrapper__info__container__item{
    width: 500px;
    margin-top: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.6px;
}
.rise__top__wrapper__image{
    width: 960px;
    height: 850px;
    background-image: url('./../images/riseSerfer.svg');
    background-position: right;
}
@media screen and (max-width: 1300px){
    .rise__top__wrapper__info{
        padding-left: 40px;
    }
}